.dark {
    --ext-primary-font-color: #fff;
    --ext-body-background: #111111;
}

.light {
    --ext-primary-font-color: #000;
    --ext-body-background: #fff;
}

body {
    background: var(--ext-body-background);
    color: var(--ext-primary-font-color);
    font-family: Arial, sans-serif;
    cursor: default;
    font-size: 16px;
}

.section {
    border: 1px solid gray;
    min-width: 20%;
    width: fit-content;
    padding: 20px;
    display: inline-block;
    background: rgb(231, 231, 231);
    vertical-align: top;
}

.reset_button {
    background: red;
    color: black;
    font-weight: bold;
    border-width:3px;
    margin: 10px;
}

.reset_button:disabled {
    background: rgb(254, 187, 187);
    color: gray;
}

#tag_list_div {
    padding: 10px;
    margin: 20px;
    border: 1px solid darkgray;
    min-width: 10%;
    width: fit-content;
}