.dark {
    --ext-primary-font-color: #fff;
    --ext-body-background: #111111;
}
.light {
    --ext-primary-font-color: #000;
    --ext-body-background: #fff;
}
body {
    background: var(--ext-body-background);
    color: var(--ext-primary-font-color);
    font-family: Arial, sans-serif;
    cursor: default;
    font-size: 16px;
}
