#sidecar_element {
    position: fixed;
    width: 20%;
    height: 50vh;
    top: 25vh;
    right: 0;

    padding: 2px;

    background: rgb(2, 84, 2);
    color: rgb(255, 255, 255);

    z-index: 1000;
}

.sidecar_title {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.sidecar_tag_title {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.sidecar_text {
    font-style: italic;
}

.sidecar_tag {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.5;
    display: inline-block;
}

.sidecar_tag_like {
    background-color: rgb(0, 255, 72);
}

.sidecar_tag_dislike {
    background-color: rgb(147, 84, 84);
}