#sidecar_element {
    position: fixed;
    min-width: 10%;
    width: fit-content;
    min-height: 20vh;
    height: fit-content;
    top: 15vh;
    right: 0;

    padding: 5px;

    background: rgb(2, 84, 2);
    color: rgb(255, 255, 255);

    z-index: 1000;
}

#sidecar_title {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

#sidecar_tag_title {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

#sidecar_text {
    font-style: italic;
}

.sidecar_tag {
    background-color: #CCCCCC;
    cursor: pointer;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.5;
    display: inline-block;
    font-size: large;
}

.sidecar_tag_like {
    background-color: #00FF48;
}

.sidecar_tag_dislike {
    background-color: #FF2222;
}